<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/include', { title : 'DRUNKEN HIGH' }) %>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <%- include('./partials/cookie.ejs') %>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="main__recommend">
          <h2 class="recommend-title"></h2>
          <div class="recommend-container swiper-container">
            <!-- left swiper -->
            <div class="recommend-leftSwiper">
                <ul class="swiper-wrapper">
                    <% if(listsALl){ %>
                    <% for(let i = 0; i < 10 ; i++){ %>
                        <li class="swiper-slide">
                            <a href="/recipes?recipe_id=<%= listsALl[i].dataValues.recipe_num%>">
                                <figure>
                                <img src="<%= listsALl[i].dataValues.Recipe_Img[0].image_url %>" alt="레시피이미지" class="recipe-list__img" />          
                                </figure>
                            </a>
                        </li>
                    <%}}%> 
                </ul>
            </div>
            <!-- center swiper -->
            <div class="recommend-centerSwiper">
                <ul class="swiper-wrapper">
                    <% if(listsALl){ %>
                    <% for(let i = 1; i <= 10 ; i++){ %>
                        <% let index = i % 10; %>
                            <li class="swiper-slide">
                                <a href="/recipes?recipe_id=<%= listsALl[index].dataValues.recipe_num%>">
                                    <figure>
                                    <img src="<%= listsALl[index].dataValues.Recipe_Img[0].image_url %>" alt="레시피이미지" class="recipe-list__img" />          
                                    </figure>
                                    <p class="receipe__title"><%= listsALl[index].dataValues.title %></p>
                                </a>
                            </li> 
                    <%}}%> 
                </ul>
            </div>
            <!-- right swiper -->
            <div class="recommend-rightSwiper">
                <ul class="swiper-wrapper">
                    <% if(listsALl){ %>
                    <% for(let i = 0; i < 10 ; i++){ %>
                        <% let index = (i + 2) % 10; %>
                        <li class="swiper-slide">
                            <a href="/recipes?recipe_id=<%= listsALl[index].dataValues.recipe_num%>">
                                <figure>
                                    <img src="<%= listsALl[index].dataValues.Recipe_Img[0].image_url %>" alt="레시피이미지" class="recipe-list__img" />          
                                </figure>
                            </a>
                        </li>
                    <%}}%> 
                </ul>
            </div>
            <div class="swiper-pagination swiper-pagination-progressbar swiper-pagination-horizontal"><span class="swiper-pagination-progressbar-fill" style="transform: translate3d(0px, 0px, 0px) scaleX(0.111111) scaleY(1); transition-duration: 300ms;"></span></div>
            <div class="swiper-btnGroup">
                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-10687ab1e59b41b48" aria-disabled="false"></div>      
                <div class="swiper-button-prev" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-10687ab1e59b41b48" aria-disabled="true"></div>
            </div>
          </div>
        </section>
        <section class="main__list">
          <h2 class="list-title">레시피 모음</h2>
          <nav class="recipe-category">
            <ul class="category-btn">   
            </ul>
          </nav>
          <div class="recipe-list__container">
            <ul class="recipe-lists">
              <% if(listsALl){ %>
              <% for(let i = 0; i < 8 ; i++){ %>
                  <li>
                      <a href="/recipes?recipe_id=<%= listsALl[i].dataValues.recipe_num%>">
                          <figure>
                          <img src="<%= listsALl[i].dataValues.Recipe_Img[0].image_url %>" alt="레시피이미지" class="recipe-list__img" />          
                          </figure>
                          <p class="receipe__title"><%= listsALl[i].dataValues.title %></p>
                          <p class="receipe__writer"><%= listsALl[i].dataValues.User.user_name %></p>
                      </a>
                  </li>
              <%}}%> 
            </ul>
          </div>
          <div class="recipe-morebtn">
          <% if(listsALl.length > 8){ %>
              <button class="morebtn1 morebtn">더보기</button>
          <% } %>
          </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/login.js"></script>
</body>
</html>