<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/include', { title: '레시피' })%> 
    <!--Replace with your tailwind.css once created-->
    <link rel="stylesheet" href="/public/css/view.css">

</head>
<body class="text-gray-900 tracking-wider leading-normal">
   <%- include('./partials/header.ejs') %>
   <%- include('./partials/login.ejs') %>
   <main>
    <!--Container-->
    <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-0">
        <!--Section container-->
        <section class="w-full lg:w-4/5">

            <!--Title-->
            <h1 class="flex items-center font-sans font-bold break-normal px-2 text-xl mt-12 lg:mt-0 md:text-2xl recipe-title">
				<%= recipe_title %>
			</h1>

            <!--divider-->
            <hr class="bg-gray-300 my-12">

            <!--Title-->
            <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">완성된 하이볼</h2>

            <!--Card-->
            <div id='main-ing' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
                <div class="flex items-center justify-center w-full">
                    <div class="grid min-h-[280px] w-[400px] place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
                        <img
                          class="object-cover object-center w-full rounded-lg h-96"
                          src="<%= main_img %>",
                          alt="main image"
                        />
                    </div>
                </div> 
            </div>
            <!--/Card-->

            <!--divider-->
            <hr class="bg-gray-300 my-12">

            <!--Title-->
            <h2 id='warning' class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">재료를 준비해주세요</h2>

            <!--Card-->
            <div class="p-8 mt-6 lg:mt-0 leading-normal rounded shadow bg-white font-bold">
                <li>주재료: <span class="italic font-medium"><%= main_ing %></span></li>
                <li>주재료 상세: <%= main_ing_detail %></li>
                <li>부재료: <%= sub_ing %></li>
                

            </div>
            <!--/Card-->

            <!--divider-->
            <hr class="bg-gray-300 my-12">

            <!--Title-->
            <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">레시피를 따라해주세요</h2>

            <!--Card-->
            <div id='recipe-cont' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

                    <% recipe_content.forEach((stepRecipe, index) => { %>
                        <% if(index) { %>
                            <hr class="bg-gray-300 my-12"> 
                        <% } %>
                        <!-- sub image 가 있을때만 보여주기 -->
                        <% if (sub_image[index]) { %>
                        <!-- step 1 - image -->
                        <div class="md:flex mb-6">
                            <div class="grid min-h-[100px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
                                <img
                                    class="object-cover object-center w-full rounded-lg h-70"
                                    src="<%= sub_image[index] %>",
                                    alt="step <%= index+1 %> image"
                                />
                            </div>
                        </div>
                        <% } %>
                        <!-- =========== -->
                        <!-- step 1 - content -->
                        <div class="md:flex mb-6">
                            <div class="md:w-1/3">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textarea">
                                    Step <%= index + 1 %>
                                </label>
                            </div>
                            <div class="md:w-2/3">
                                <%= stepRecipe %>
                            </div>
                        </div>
                        <!-- ========== -->
                    <% }) %>

                    <!--divider-->
                    
                    <div class="flex mt-12 align-middle">
                        <svg class="fill-gray-200 hover:fill-red-500" id="like" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                        <span class="px-2" id="likes-count"><%= likes_count %></span>
                    </div>

            </div>
            <!--/Card-->

            <!--divider-->
            <hr class="bg-gray-300 my-12">

            <!-- 회원에게만 보이게 하기 -->
             <% if (true) { %>
            <!--Title-->
            <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">수정 및 삭제</h2>

            <!--Card-->
            <div id='save-recipe' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">

                <!-- <blockquote class="border-l-4 border-yellow-600 italic my-4 pl-8 md:pl-12">이제 함께 즐겨요!</blockquote> -->

                <div class="pt-0">

                    <button id="update-button" class="shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-4" type="button">
                        수정하기
                    </button>

                    <button id="delete-button" class="shadow bg-yellow-100 hover:bg-yellow-200 focus:shadow-outline focus:outline-none text-gray-700 font-bold py-2 px-4 rounded mr-4" type="button">
                        삭제하기
                    </button>

                </div>

            </div>
            <!--/Card-->
            <% } %>
        </section>
        <!--/Section container-->

        <!--Back link -->
        <div class="w-full lg:w-4/5 lg:ml-auto text-base md:text-sm text-gray-600 px-4 py-24 mb-12">
          <span class="text-base text-yellow-600 font-bold">&#94;</span> <a href="#" class="text-base md:text-sm text-yellow-600 font-bold no-underline hover:underline">맨 위로</a>
         </div>

      </div>
      <!--/container-->
    </main>
    <%- include('./partials/footer.ejs') %>
        
    
    <script type="module" src="../public/js/recipeView.js"></script>

    
</body>
</html>